

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 2em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2em;
}
 
.cart-header {
    font-weight: bold;
    font-size: 1em;
    color: #e73939;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 30%;
}

.cart-price {
    width: 20%;
   
}

.cart-quantity {
    width: 20%;
}


.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
    background-color: cornflowerblue;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1em;
}

.cart-item-image {
    width: 50px;
    height: auto;
    border-radius: 10px;
}



.product-section .box{
    position: relative;
    margin-top: 25px;
    padding: 35 px 35px;
    background-color: #f7f8f9;
    overflow:hidden;
    transition: 0.3s;
}
.product-section .box .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
 .product-section .box .img-box img{
    max-width: 100%;
    max-height: 250px;
    transition: all 0.3s;
 }

 .product-section .box .detail-box{
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #002c3e;

 }
 .product-section .box .option-container{
    text-align: center;
 }
 .product-section .box .shop-item-title{
    font-size: 18px;
    margin-top: 10px;
}
.product-section .box .detail-box .shop-item-price{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
}
.product-section .box:hover img{
    transform:scale(1,1);
}
.product-section .box .option-container{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: rgb(0,44,62/70%);
     z-index: 3;
     opacity: 1;
     visibility: hidden;
     transform: translateY(100%);
     transition: all 0.5s;
}
.product-section .box:hover .option-container{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .2em;
    font-weight: bold;
    font-size: 1em;
    padding: 4px;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}
